page-leaverequest {

}
  .leaveForm {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding-left:10px;
    padding-right: 10px;     
}

.schoollogo{
    position: absolute;
    top: 10%;
    // left: 35% ;
    right: 0;
    // padding-left:10px;
    // padding-right: 10px; 
}