page-createaccount {

}
.ion-content{
     background-image: url('../img/background.jpg');
}

.signupForm {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding-left:10px;
    padding-right: 10px;     
}

.schoollogo{
    position: absolute;
    top: 10%;
     text-align: center;
     margin: auto 0; 
    // left: 35% ;
    right: 0;
    // padding-left:10px;
    // padding-right: 10px; 
}